 .loading {
    background-color: white;
    height: 75vh;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__spinner {
     border-top: 15px solid #ff79da;
     border-bottom: 15px solid $color-purple;
     border-left: 15px solid $color-tertiary;
     border-right: 15px solid $color-tertiary;
     border-radius: 50%;
     width: 100px;
     height: 100px;
     animation: spin 3s linear;
     transition-duration: 3s;
    } 
 }

 .container-page {
   position: absolute;
   top: 0px;
   animation: container-page 0.8s 3.2s ease-in-out both;
 }
   
 @keyframes spin {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
     opacity: 0;
   }
 }

 @keyframes container-page{
   0% {
      opacity: 0;
   }
   50% {
      opacity: 0.3;
   }    
   100% {
      opacity: 1;
   }
  }

 .position {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: $color-primary;
    font-size: 1.4rem;
    background-color: $color-tertiary;
 }

 .fa-map-marker-alt {
  padding-right: 1.5rem;
 }

 .explorer {
   background-color: $color-secondary;
   padding-top: 1.1rem;
   padding-bottom: 4.5rem;
   &__title {
     font-weight: bold;
     text-align: center;
     padding-top: 2rem;
     font-size: 2rem;
     margin: 1rem;
   }
    &__subtitle {
      font-weight: 300;
      text-align: center;
      color: $color-primary;
    }
    &__button {
      @include buttons;
      &:hover {
        opacity: 1;
      }
    }
 }
 
 .fonctionnement {
    &__title {
     @include proprieties-title;
     margin-left: 2rem; 
    }
    &__content {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 2rem;
      row-gap: 2rem;
      margin-left: 0;
      @media only screen and (min-width : 1224px) {
        display: flex;
        align-items: center;
        margin-left: 3rem;
        margin-bottom: 5rem;
        counter-reset: fonctions; 
     }
      @media only screen and (min-width: 600px) and (max-width: 1200px) {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2rem;
        grid-row-gap: 3rem; 
      }
    }
    &__vignette {
      display: flex;
      align-items: center;
      margin-right: 3.5rem;
      @include fonctionnement-vignette;
      list-style-type: none;
      counter-increment: fonctions;
      @media only screen and (min-width: 600px) and (max-width: 1200px) {
        margin-right: auto;
        margin-left: auto;
      }
      &:before {
        content: counter(fonctions);
        color: white;
        background: $color-purple;
        height: 1.7rem;
        width: 1.7rem;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -4.5rem;
        margin-right: -0.7rem;
      }
      &--purple {
        background-color: #f5edff;
        
      }
    }
  }  

 .fa-mobile-alt, .fa-list-ul, .fa-store {
   margin-left: -2rem;
   padding-right: 1rem;
   @media only screen and (min-width : 610px){
     padding-right: 1.5rem;
     color: $color-icone;
    }
   
   
  }

  .fa-store {
    color: $color-purple;
  }
 
 .restaurant {
   display: grid;
   grid-template-columns: 1fr;
   column-gap: 2rem;
   grid-row-gap: 2rem;
   margin-left: 0rem;
   margin-right: 0rem;
   background-color: $color-secondary;
   padding-bottom: 6rem;
   padding-top: 2rem;
   padding-right: 2rem;
   padding-left: 2rem;
   @media only screen and (min-width : 610px) {
     display: grid;
     grid-template-columns: 1fr 1fr;
    }
   &__title {
     grid-column: 1/-1; 
     cursor: pointer;
     @include proprieties-title;
   }

  }

  .card {
    border-radius: 1.25rem;
    box-shadow: 0px 0px 10px #55555538;
    padding-bottom: 2.5rem;
    position: relative;
    &__image {
      width: 100%;
      height: 15rem;
      object-fit: cover;
      border-radius: 1.25rem 1.25rem 0 0;
      cursor: pointer;
    }
    &__content {
      padding-left: 1rem;
      color: black;
     font-size: 1.2rem;
     padding-bottom: 2.5rem;
    }
    &__text {
      font-weight: 300;
    }
    &__like {
      margin-top: -5rem;
      text-align: end;
      padding-right: 2rem;
      cursor: pointer;
      font-weight: 100;
      &:hover .card__heart--animation1 {
        opacity: 1;
        font-size: 2rem;
      }
      &:hover .card__heart--animation2 {
        opacity: 0;
      }
    }
    &__heart {
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
     &--animation2 {
      -webkit-transition: all 0.7s ease-in;
      transition: all 0.7s ease-in;
      opacity: 1;
      font-size: 2rem;   
     }
     &--animation1 {
      display: initial;
      -webkit-transition: all 0.6s ease-in;
      transition: all 0.6s ease-in;
      background: linear-gradient(175deg, $color-pink, $color-purple);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0;
      font-size: 0.05em;
     }
    } 
    &__new {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background-color: $color-green;
      padding: 0.5rem;
      color: darken($color: $color-green, $amount: 50%);
      border-radius: 0.2rem;
    }
 }

 a {
   text-decoration: none;
 }

