 @mixin footer-link-properties {
    font-size: 1rem;
    cursor: pointer;
 }

 @mixin box-shadow-position {
    -webkit-box-shadow: inset 0 20px 20px -20px rgba(219,219,219,255);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(219,219,219,255);
    box-shadow: inset 0 20px 20px -20px rgba(219,219,219,255);
 }

 @mixin proprieties-title {
   font-size: 2rem;
   margin-top: 3rem;
   margin-bottom: 3rem;
   font-weight: bold;
 }

 @mixin buttons {
   display: block;
   margin: auto;
   background-image: linear-gradient(0deg, #9356dc, #ff79da);
   border-radius: 2rem;
   border:transparent;
   cursor: pointer;
   color: white;
   font-weight: 500;
   font-size: 1.2rem;
   padding: 1rem;
   margin-top: 2em;
   box-shadow: 1px 1px 6px $color-icone;
  }

  @mixin fonctionnement-vignette {
   border: none;
   font-size: 1.2rem;
   font-weight: 500;
   background-color: $color-secondary;
   padding-top: 2rem;
   padding-bottom: 2rem;
   padding-right: 4rem;
   padding-left: 4rem;
   border-radius: 2rem;
   box-shadow: 1px 1px 10px #b8b4b4;
 }

